<h1>Dashboard</h1>

<p>Bienvenue {{user.first_name}}  {{user.last_name}}</p>

<p>
  Voici les profils qui souhaitent apprendre <strong *ngFor="let tag of user.tags">{{ tag.name }} </strong> avec vous :
</p>

<div class="match-container">
  <mat-card *ngFor="let userMatch of matchs$ | async">
    <mat-card-header>
      <mat-card-title>{{ userMatch.first_name }} {{ userMatch.last_name }}</mat-card-title>
      <mat-card-subtitle>
        <span *ngFor="let tag of userMatch.tags">
          {{ tag.name }} 
        </span>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>